
<div style="margin-left:20%">
    {{#each model as |restaraunt|}}
      <div class="restaraunt">
        <div>
          Name: {{restaraunt.name}}
        </div>
        <div>
          Location: {{restaraunt.location}}
        </div>
    </div>
  {{/each}}
</div>

{{outlet}}
