<div style="margin-left:20%">
  <div id="map"></div>
  <h2>Map</h2>

  {{#g-map lat=37.7833 lng=-122.4167 zoom=12 as |context|}}
    {{g-map-address-marker context address="San Francisco, Russian Hill"}}
  {{/g-map}}
</div>



{{outlet}}
