<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD8rOqREwtcVvnwQ-CEAiYWXYx1T224Kw&callback=initMap"
    async defer></script>

<div style="margin-left:20%">
  <div id="map"></div>
  <h2>Map</h2>

</div>



{{outlet}}
