{{outlet}}


<div style="margin-left:20%">
  <h2>Search</h2>
  <hr>

  <form onsubmit={{action "onButtonClick"}}>
    <h3>Restaraunt</h3>
    {{input id="restaraunt" type="text" value=restaraunt placeholder="Ex: Bestia"}}
    <h3>Location</h3>
    {{input id="location" type="text" value=location placeholder="Ex: Los Angeles"}}
    <button id="add" type="submit">Search</button>
  </form>

</div>
